/* 1. De Grote Schoonmaak (Reset) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. De Balk (Navbar) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: white;
    border-bottom: 1px solid #eee;
}

/* 3. De Hamburger (De 3 streepjes) */
.hamburger {
    width: 30px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black; /* HIER WORDEN ZE ZICHTBAAR */
    margin: 5px 0;
}
